body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container1 {
  background-color: #141414;
}

.tophalf {
  background-color: #141414;
  height: 688px;
  padding: 0;
  margin: 0 auto;
  width: 627px;
  position: relative;
  font-weight: bolder;
}

h1 {
  margin: 57px 0 40px 0;
  color: #AF5DC2;
  font-size: 36px;
  display: inline-block;
  font-family: 'Karla', Helvetica, sans-serif;
  font-weight:bolder;
}

h2 {
  color: white;
  position: center;
  width: 470px absolute;
  font-size: 47px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 60px;
  line-height: 1.25;
  font-family: 'Karla', Helvetica, sans-serif;
}

span.button {
  height: 63px;
  color: whitesmoke;
  font-size: 22px;
  padding-top: 30px;
  font-family: 'Karla', Helvetica, sans-serif;
}

input[type="text"] {
  width: 380px;
  border-radius: 5px;
  float: left;
  height: 63px;
  margin-right: 20px;
  font-size: 20px;
  margin-top: 21px;
  padding-left: 20px;
  border-style: none;
  background-color: #E6E6E6;
  opacity: 1;
}

input[type="text"]:focus {
  width: 380px;
  border-radius: 5px;
  float: left;
  height: 63px;
  margin-right: 20px;
  font-size: 20px;
  margin-top: 21px;
  padding-left: 20px;
  border-style: none;
  background-color: whitesmoke;
  opacity: 1;
}

button[type="button"] {
  width: 193px;
  height: 67px;
  background-color: #AF5DC2;
  float: left;
  border-radius: 5px;
  color: whitesmoke;
  font-size: 20px;
  border-style: none;
  margin-top: 20px;
}

button[type="button"]:hover {
  width: 193px;
  height: 67px;
  background-color: #8C65CC;
  float: left;
  border-radius: 5px;
  color: whitesmoke;
  font-size: 20px;
  border-style: none;
  margin-top: 20px;

}

.container2{
  height: 90vh;
  padding: 0 auto;
  margin: 0 auto;
  width: 740px;
}
.instructors ul {
  padding: 0;
}

h3 {
  font-size: 22px;
  font-weight: bolder;
}

.Upcoming {
margin-top: 77px;
margin-bottom: 36px;
font-family: 'Karla', helvetica,sans-serif;
}

.instructors li{
  list-style: none;
  width: 200px;
  height: 250px;
  float: left;
  margin-right: 20px;
  color: #9c9c9c;
  font-size: 16px;
  font-family: 'Karla', helvetica,sans-serif;
}

.instructors p {
  margin-bottom: 0;
  padding: 0;
}

.instructors a {
  color: #9c9c9c;
  text-decoration: none;
}


strong {
  display: block;
  color: black;
  padding-bottom: 5px;
  font-family: 'Karla', helvetica,sans-serif;
  letter-spacing: 1.25px;
  font-size: 17px;
  margin-top: 11px;
  margin-bottom: 0px;
}

.article {
  font-family: 'Karla', helvetica,sans-serif;
  display: inline-block;
  width: 620px;
  font-size: 19px;
  line-height: 28px;
  margin: 73px 0 0 0;
}

 .Mikael {
  color: gray;
  font-size: 15px;
  margin: 0;
  padding: 0;

}

.Crewlab {
  color: gray;
  font-style: none;
}
.companies img{
  display: inline-block;
  padding: 80px 10px 80px 10px;;


}

span.button2 {
  height: 63px;
  color: black;
  font-size: 22px;
  padding-top: 30px;
  font-family: 'Karla', Helvetica, sans-serif;

}

input[type="text2"] {
  width: 380px;
  border-radius: 5px;
  float: left;
  height: 64px;
  margin-right: 20px;
  font-size: 20px;
  margin-top: 20px;
  padding-left: 20px;
  border-style: none;
  background-color: #E6E6E6;
  opacity: 1;
}

input[type="text2"]:focus {
  width: 380px;
  border-radius: 5px;
  float: left;
  height: 64px;
  margin-right: 20px;
  font-size: 20px;
  margin-top: 20px;
  padding-left: 20px;
  border-style: none;
  background-color: whitesmoke;
}

button[type="button2"] {
  width: 193px;
  height: 67px;
  background-color: #AF5DC2;
  float: left;
  border-radius: 5px;
  color: whitesmoke;
  font-size: 20px;
  border-style: none;
  margin-top: 20px;

}

em {
  font-style:normal;
  font-weight: bold;
  font-size: 23px;
}
button[type="button2"]:hover {
  width: 193px;
  height: 67px;
  background-color: #8C65CC;
  float: left;
  border-radius: 5px;
  color: whitesmoke;
  font-size: 20px;
  border-style: none;
  margin-top: 20px;
}

h5 {
  font-family: 'Karla', helvetica,sans-serif;
  font-size: 23px;
  font-weight: bold;
  margin: 0;

}

.footer {
  font-family: 'Karla', helvetica,sans-serif;
  margin-top: 100px;
  margin-bottom: 55px;
  color: #999;
}
 .footer a {
   text-decoration: none;
color: #999;
 }
 .footer a:hover {
   text-decoration: none;
color: black;
 }
